
<div class="row mb-1 mt-3">
  <div class="col-md-3">
    <%= search_form_for @q, :class => "collapse", :id => "dishes_filters" do |f| %>
    <p class="lead">Narrow results:</p>
    
    <div class="form-group">
      <%= f.label :name_cont, "Name contains" %>
      <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
    </div>
    
    <div class="form-group">
      <%= f.label :cuisine_id_eq_any, "Cuisine" %>
      <% @cuisines = Cuisine.all %>
      <% @cuisines.each do |cuisine| %>
      <div class="checkbox">
      <%= check_box_tag('q[cuisine_id_eq_any][]', cuisine.id) %>
      <%= cuisine.name %>
      </div>
      <% end %>
    </div>
    
    
    <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

    <a href="/dishes" class="btn btn-secondary btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#dishes_filters">
        Show Filters
    </a>
  </div>
  
  <div class="col-md-6">
    <table class="table table-striped table-hover">
      <tr>
        <th>The very best...</th>
        <th>is at...</th>
        <th></th>
      </tr>

      <% @dishes.each do |dish| %>
      <tr>
        <td><a href = "/dishes/<%= dish.id %>"><%= dish.name %></a></td>
        <td>
          <% if dish.fans.pluck(:id).include? current_user.id %>
            <% bookmark_fav = Bookmark.where("user_id = ? AND dish_id = ?", current_user.id, dish.id).first %>
            <a href="/venues/<%= bookmark_fav[:venue_id]%>">
            <%= Venue.find(bookmark_fav[:venue_id]).name %>
            </a>
          <% else %>
          <form action="/create_bookmark" method="post" class="form-inline">
              <input type="hidden" name="dish_id" value = <%= dish.id %> >
              <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :prompt => "Please Select" ,  :class => "form-control-sm mr-sm-1") %>
              <input type="hidden" name="user_id" value = <%= current_user.id %> >
              <input type="hidden" name="notes" value = <%= nil %> >
              
              
              <span>
                <button class="btn btn-primary btn-sm ml-1">
                <i class="fa fa-heart"></i>
                </button>
              </span>

            </form>
          
            

          <% end %>               

        </td>
        <td class = "text-right ">
         <div class = "badge badge-primary">
          <% if dish.cuisine.present? %>

              <%= dish.cuisine.name %>

          <% end %>        
           
         </div>
  
          
          
          <!--      Commented out old show/edit/delete pages incase we needed functionality in the future (especially the rel="nofollow" reference??)
          <a href="/dishes/<#%= dish.id %>" class="btn btn-primary">Show</a>
          <a href="/dishes/<#%= dish.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_dish/<#%= dish.id %>" class="btn btn-danger" rel="nofollow">Delete</a>-->
        </td>
      </tr>
      <% end %>
    </table>
    
  </div>
  
  <div class="col-md-3">
    <a href = "/venues/new">
    <button class="btn btn-success btn-block">
      Add a new venue
    </button>
    </a>
  </div>
</div>

